*,
*:before {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    margin: 0;
    padding: 0;
}

.small {
    transform: scaleY(0);
}

.content div.item {
    width: 100%;
    height: 50px;
    padding: 1em;
    color: #deffff;
    cursor: pointer;
}

.content {
    background-color: rgba(0, 0, 0, 0.28);
}

.truncate {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content input {
    width: 100%;
    height: 50px;
    padding: 1.2em;
    font-size: 2em;
    font-weight: lighter;
    outline: none;
    border: 0;
}

.pathLine {
    fill: none;
}

.content div.item:nth-child(even) {
    padding: 1em;
    background: rgba(0, 0, 0, 0.1);
    color: #deffff;
}

.content div.item:hover {
    background: #007aff;
    color: #ffffff;
}

.content div.item:active {
    background: #009aff;
    color: #ffffff;
}

subheader {
    display: block;
    background: #edf2f7;
    width: 100%;
    padding: .55em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    color: rgb(26, 32, 44);
    justify-content: space-between;
}

subheader span:first-of-type {
    opacity: .7;
}

body {
    background: url("/images/vivaldi-stars.jpg") 50% no-repeat fixed;
    background-size: cover;
    font: 14px/1.4 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h2 {
    font-size: 1.4em;
    font-weight: 300;
    color: #222;
}

p:not(:last-child) {
    margin-bottom: 0.6em;
}

p.small {
    font-size: 0.8em;
    color: #222;
    text-align: center;
}

p {
    color: white;
    font-weight: thin;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #888;
}

.blur {
    transition: filter 2.9s ease;
}

.blur:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: -80%;
    left: -80%;
    right: -80%;
    bottom: -80%;
    background: inherit;
    filter: blur(75px);
}

article {
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 100px;
    background: inherit;
    border-radius: 6px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.65);
    overflow: hidden;
    transform-origin: top;
}

article .title {
    padding: 8px;
    background: white;
    text-align: center;
    font-size: .9em;
}

article .title:hover {
    cursor: move;
}

article .content {
    padding: 0%;
}

.attr {
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    color: white;
}

line {
    opacity: .3;
}

@keyframes offset {
    0% {
        stroke-dashOffset: 200px;
    }
    100% {
        stroke-dashOffset: 0px;
    }
}

svg {
    will-change: transform;
    width: 100%;
    overflow: hidden;
    padding: 0 15px;
    transform-box: border-box;
}

.window-title {
    font-size: 16px;
    color: rgb(26, 32, 44);
}

.text {
    fill: white;
    opacity: .7;
    transform: translateY(287px) translateX(-246px);
}

.tr {
    width: 700px;
    height: 150px;
    margin: 60px auto;
}

.simpleLines {
    shape-rendering: crispEdges;
    opacity: 0.3;
}

.paddingGroup {
    transform: translate(0, 200px);
}

.line1 {
    stroke-width: 1;
}

path:hover {
    fill-opacity: 0.3;
}

.year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -186%);
    z-index: -100;
    opacity: .3;
}

rect {
    shape-rendering: crispEdges;
    height: 1px;
    width: 7px;
    fill: hsl(18, 100%, 50%);
    will-change: transform;
    transform-box: fill-box;
    transform-origin: center bottom;
}

.crisp {
    shape-rendering: crispEdges;
    opacity: .1;
    stroke-dasharray: 1, 2;
}

@keyframes translate {
    0% {
        transform: translate3d(0px, 0, 0);
    }
    100% {
        transform: translate3d(-1080px, 0, 0);
    }
}

.move {
    animation: translate 10.5s linear;
    animation-fill-mode: forwards;
}

h1 {
    color: rgba(27, 120, 162, 0.1);
}

.pathLine {
    animation: dashoffset 5.2s linear;
    animation-fill-mode: forwards;
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 2604.7px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
}

.list {
    margin: 0;
    padding: 0;
    height: 310px;
}

.loader {
    margin: 0;
    padding: 0;
    height: 310px;
    text-align: center;
    display: none;
}

.loader img {}

.list div img {
    height: 32px;
    width: 32px;
}

#moving-line {
    stroke-width: 1px;
    stroke-dashArray: 10 10;
}